<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pokemonImport" class="ahodanenok.pokemons.importer.JsonPokemonImport" init-method="init">
        <property name="fromResource" value="file:///D:/projects/pokemons/p.json" />
    </bean>

</beans>